This would then be valid:

```js
import x from temporal
import y from 'temporal'
```

The difference is very subtle, and could lead to confusion/errors ... and possibly security concerns?

Staying with strings, there aren't many options.

Here are two alternatives. Not sure if either of them are "ideal", but perhaps worth mentioning:

```js
import {a} from "std(date)"; 
import {b} from "std(date/sub)";
import {c} from "@some/thing";

import {a} from "std|date"; 
import {b} from "std|date/sub";
import {c} from "@some/thing";
```

i'm a fan of `import { Instant } from temporal`. i can't really even imagine a case where we need more than a single identifier there.

How about just importing from a known URL, then we could also serve those modules over standard http and instantly be backward-compatible with all current runtimes.

```js
import { Instant } from 'https://www.ecma-international.org/tc39/stdlib/time.js'
```

This is how [Deno](https://github.com/denoland/deno) does it, which means that the stdlib would also be instantly usable from Deno.

Then runtimes can ship the stdlib preloaded right into the browsers if they want to...

> How about just importing from a known URL

If some reserved domains are automatically cached by the browsers with a long TTL, I would agree.
If not I think it's a bad idea.

Since versioning (#17) isn't decided yet, it's hard to give an exact proposal but it should absolutely be cached.

In fact, if the browsers wanted to, they could ship their own custom implementation of the stdlib that gets loaded when a load from `https://ecma-international.org/tc39/stdlib` is detected.

1. It's too verbose IMO, easy to introduce typos (even with copy/paste) without specialized linting, etc.
2. Including a version number in the module name would require you to update that name in many files when switching versions. IMO, this should be done with a mapping. i.e. a module name written as "example" maps to "example@1.2.3" when loaded. In that way, you only need to change the version number in one place.

Another approach might be to use a new keyword like:

```javascript
import Date builtin "date"
```

or

```javascript
built-in import Crypto as c
```

Copied from https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-448025757 :
> `scheme::module` is a valid absolute URI, cf. RFC 3986 [section 3](https://tools.ietf.org/html/rfc3986#section-3) and [section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) and observe that _hier-part_ (which follows the first ":") can be _path-rootless_, which starts with _segment-nz_, which starts with _pchar_, which can be ":".
> 
> URI _scheme_ must start with an alphabetic character and consist only of alphanumerics, "+", "-", and "." (cf. [section 3.1](https://tools.ietf.org/html/rfc3986#section-3.1)), but e.g. `@scheme:module` is still a valid _relative_ URI reference, and even `:scheme:module` or `%scheme:module` or `<scheme:module` or `|scheme:module` (although not valid per RFC 3986) are accepted by the [WHATWG parsing algorithm](https://url.spec.whatwg.org/#concept-basic-url-parser)—but at least all but the first of those are nonconforming and therefore at least potentially subject to special treatment (likewise for any other format that starts with something other than an ASCII letter, "/", "?", "#", or a [URL code point](https://url.spec.whatwg.org/#url-code-points)).
> 
> If the idea is to differentiate standard library modules from potentially-relative URIs, I think a **super**-special prefix like "%" would be most prudent.



I would vote for `scheme::module`. I think we should stay with strings to avoid confusion (and mistakes?) and complicating the import syntax. To me the `::` is a strong enough signal that the module is distinct from other (user land) modules.

Something that looks like an http/https URL does not make sense in all contexts you can find an `import` statement in and they are also easily mistaken for user modules.

I'm not sure I understand how `::` will help. I think that from the user's (and readers) point of view, the distinguishing feature won't be the number of colons, but rather the name before the colon.

If that's the case, then why wouldn't "the name between the `@` and the `/`" provide the same amount of distinguishing?

None of this makes the case for why anything else is better than `@std/foo`, as none of it addresses the cowpath-paving consideration.  I like the idea of dropping the string entirely, and just putting a bare identifier in the `import` statement.  But again, people will copy this and then get annoyed that they can't do it natively in platforms that support it for std modules.  Why not just do it the easy way people already understand?

But all that being said, I'd like to earnestly suggest:

```
import now from Std\1.5.4\CoreLibs\Temporality\Time\Date
```

1. It will be easily identifiable, because no one would choose to make their userland libs look like this.
2. A version number can be placed anywhere as needed for versioning.
3. No url scheme to register
4. No chance of being confused with a file path (except perhaps on Windows) or url
5. Successful established precedent with PHP namespaces.
6. New syntax can have new semantics (1js), and this is not valid JS today.

In favour if non-string syntax for among other reasons that it feels the most "standard" or as part of the "environment" and not something akin to an external import. 

For example assuming a host(the browser) exposes the Window import. It could be written as either of the following:

```
import document from '@std/window'
import document from 'std:window'
import document from Window
```

As aforementioned the first case very much conflicts negatively with npms "@scoped packages by means of imitated(it looks like a scoped npm package, but actually isn't), i would imagine avoiding this would be in the over arching proposals best interest similar to the case with pattern matching and an overloaded `switch` syntax.

The second form is, much like the first, "a magic string" that we have come to associate(implicitly/explicitly) with external packages.

This form also shares some semblance to [data url imports](https://esdiscuss.org/topic/inline-es-modules#content-2): `import x from "data:text/javascript,\..."`.

The third conforms closer to how we already implicitly reference "standard" objects. `Object, Number etc`.

I can't hope but wonder if this would also play well with [inline modules](https://esdiscuss.org/topic/inline-es-modules#content-0) making it easier polyfil future standard library functions that are "not-yet" exposed.

@thysultan Wouldn't the importing of bulit-in modules using identifiers actually conflict with possible future inline modules?

```js
module Window { export const x = 1 }
import { x } from Window; // lexical Window or "built-in" Window?
```

Note that Dart uses scheme-like specifiers (`dart:` for builtins and `package:` for userland).

By thinking about backwards compatibility what about:

```javascript
import Window from std`crypto`
```

this way it could work in node like

```javascript
import fs from node`fs`
```

or in require form

```javascript
const fs = require(nodejs`fs`)
// ... or ...
const fs = require.builtin('nodejs', 'fs')
```

based off the idea of namespaces and the idea of not using strings/URL, what about?
```js
import crypto from std::crypto

// and in node .mjs
import fs from node::fs
```
again, node/commonjs can do it's own thing be it `require.builtin` or `require('std::crypto')`. I'm thinking of this proposal as an extension to the ES module system.

`::` is used in E4X and JScript.

@Mouvedia can you provide some more context?

@obedm503 I am just saying that `::` may already have a ingrained meaning if you used the E4X extension or the JScript dialect. More recently you had the [bind operator proposal](https://babeljs.io/docs/en/next/babel-plugin-proposal-function-bind.html).

Unquoted module names are not ideal IMO:

1. It's not easy to differentiate between a quoted and unquoted module with the same name (f.e. an npm package). https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-447931370
2. It's difficult to introduce punctuation like `:`/`::`/etc. for a namespace, or `/` for "sub-modules", as it can then conflict with other syntax (either [current](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-448689134) or [future](https://github.com/tc39/proposal-bind-operator)).
3. It wouldn't work well with dynamic imports (?) ... `import(std:crypto);` ... is `std` a named argument? Is `crypto` a TypeScript type?
4. It's inconsistent with existing imports that use a string.

@devsnek One common case would be using a standard module from a script.

> why would you ever need to dynamically import standard modules?

You got a point. The only use case I imagine is having 2 standard modules that lets you do something each in its own way and one being more recent than the other.

```
import foo from 'std:foo';

// see #issuecomment-448446830
if (!foo) {
  let bar = await import('std:bar');
}
```

Could the import syntax be extended to allow runtimes to use a keyword after `from`?

```js
import crypto from std "crypto";
import crypto from nodejs "crypto";
```

The dynamic loading syntax would be slightly more exotic:

```js
const crypto = await import(std "crypto");
const crypto = await import(nodejs "crypto");
```

Just thinking out aloud.

@glen-84 that's interesting to me it looks almost like a tag functions.

@Mouvedia,

@martinheidegger suggested that above, but I think it's best not to use existing syntax in this position, as it could lead to confusion ... "is that a tagged template literal?", "can I create my own tagged template function for imports?", etc.

@littledan maybe I missed this somewhere, but can dynamic import be used outside of `type="module"`?

@obedm503 it also can be used in Scripts.

Babel style bare modules:

```js
import {document} from 'Window'
```

Inconjuction with inline modules might still pave a happy path for polyfilling modules.

```js
module Window {...}
```

@glen-84 Using template strings could on the other hand be used as pro-argument: Every built-in library has to be registered as template string in the vm & at build of the vm all the elements are registered the same way. What I like about the template string syntax is that it teaches that there are template strings and how those work.

I think scopes are necessary because new globals are currently being introduced to add new APIs. If we make those APIs modules, we would have potential naming conflicts. Adding scopes removes this limitation.

What if stdlib was not specified as a string but as a Symbol instead? And we could have a template to return them, e.g. `import { Map } from std `@js/collections/immutable`` ?

@wopian @YurySolovyov @b-strauss The more I think about 

```javascript
import X from std`x`
```

the more I like the solution, I am curious why you don't/didn't like it.

That requires `std` to be in scope, and be a function that’s normally callable - if it’s going to be consistent with existing tagged template literal syntax. Since imports are parsed before code is evaluated, i don’t see how that’s a viable path forward.

@ljharb I see and I kinda get your point: It would pollute the global namespace with a `nodejs` and/or`std` function. But that function could work:

```javascript
const modules = {
  fs: Symbol('fs')
}
function std(strings) {
  if (strings.length > 1) {
    throw new Error('You can not request a module with a paramter')
  }
  const symbol = modules[strings[0]]
  if (!symbol) {
    throw new Error(`Unknown nodejs module: ${symbol}`)
  }
  return symbol
}

console.log(std`fs`)
```

Alternatively, you could simply treat the `import ... ` statements as "non-standard-blocks-of-code" .... which they already are, after all: you can not do any string operations in there: `import x from "abc"+"def"` and any template string takes the template operation from a different API.

Alternatively one could simply namespace, the modules:

```
import fs from builtin.nodejs`fs`
```

where `builtin` is in the global scope.

@martinheidegger to clarify, it simply *wouldn't work* because all imports must be resolved, per spec, before the global namespace (and any variables) are available in the first place.

@ljharb If you mean by this that it needs to be added to the es-module specification, then I totally agree.

@martinheidegger Even if it was added to the es-module spec, the simple fact is that *no JavaScript code is evaluated* before the modules are resolved.

This isn't like CommonJS where you can do `require(someFunction("foo"))`, that simply is not possible with ES6 modules (unless you use the `import(...)` syntax).

So even if a `std` function existed in the spec, it wouldn't be capable of running.

Changing ES6 modules to allow for JS evaluation before resolving would be a ***huge*** change, with a lot of ramifications.

@pauan I didn't suggest that the es6 modules allow to execute arbitrary code. I am suggesting that template strings allowed to be used and executed are narrowly defined, but those narrowly defined functions will stay exposed to the general javascript vm for educational purposes _(and for dynamic imports)_

I think it would be massively confusing if tagged template literals worked magically differently in import statements than anywhere else - that seems like a nonstarter to me.

@martinheidegger So you are suggesting that only template literals are allowed, and the template literal function is hardcoded (i.e. it can only be `std`)? And it does not use JS evaluation?

That would technically work, but what is the advantage of that over `"@std/foo"`, `"std:foo"`, or `"std::foo"`?

@pauan the advantage is that "@std/foo" or "std:foo" is a namespace that suggest the same lookup operation as is used with any other module, which is not true for those modules.

@martinheidegger That is true, but there is precedent for that: `require("fs")` uses a different lookup strategy from `require("foo")`, since `"fs"` is a built-in module.

Given that import maps and loaders would let you override any of these lookups, it is, in fact, the same lookup operation as is used with any other module, full stop.

@ljharb so you don't have to explain why `require('fs')` works just like that but that one needs to do something for `require('express')` to work? _(... there is a difference)_

@pauan
Yes: there is the precedent of `fs` but it is a rather bad example as it pollutes the module namespace _(There is a Node.js discussion ongoing about putting new modules in a namespace as well)_.

Yes: it is a new syntax and alternatives would be `import X from std::something` _(no strings)_ or `import X from Std\...` (also no string quotes) mentioned above. As long as the string-quotes are there, there is the explanation requirement as to why they work differently.

@martinheidegger I don't think it is necessary to remove the quotes.

Importing `"http://foo.com"` is very different from `"@foo/bar"`, which in turn is very different from `"foo"`, which in turn is very different from `"./foo"`.

Even though they all use strings, they use different syntax, and they all use different lookup strategies. So it is with `"std:foo"` or `"std::foo"` as well.

There is no "explanation requirement", since import strings are URLs, so having the `std:` protocol automatically makes it different (just like how having the `http:` protocol automatically makes it different).

@martinheidegger `require` is part of node, not the language, but no, it's not been confusing to anybody since node's inception that some strings come preinstalled and others need user action to exist :-)

As the person who started the discussion about namespacing node core modules, I'm firmly in favor of namespacing, but that's not the same thing as insisting on different syntax.

_"...as insisting on different syntax."_ I do not insist on it. I am looking at the pro/cons of the various approaches, some come with new syntax, some not. I believe that a template-stringish namespacing could work well for introducing people to that new namespace. It looks fairly clear & unmistakable when written in code. A require-js/node-js implementation is fairly easy possible. The other approaches also have up/downsides - sure. I am glad I do not need to choose 😉 

+1 for
```
import len from std "len";
import { len, map, foo } from std;
```

It looks like a natural evolution and could be retrofitted into the current system:
```
import name from "/path/to/module.js";

// would be equivalent to

import name from file "/path/to/module.js";

There's also a thing about `import module from std 'string';` - it is an extension of the current grammar. If that structure was an option, maybe it'd be worthwhile also to research something briefer that would be structured similiarly, e.g. `import module from @'string'`, `import { Map } from @'collections/immutable';`

From the meeting notes I also can see that versioning is a feature we want, how about:
```
'use stdlib/2019';
import { Map } from @'collections/immutable';
```
or if we wanted versioning per import (I think it'd be problematic, who knows what conflicts would arise and who'd make integration tests of all possible permutations of versions? but I guess someone may want that) - maybe an option would be the following?
```
import { Map } from @'collections/immutable' of 'stdlib/2019';
```

[Google has chosen `'std:foo'`.](https://developers.google.com/web/updates/2019/03/kv-storage#what_are_built-in_modules)

That doesn't mean the language needs to, or should, choose that - import maps mean that any choice browsers have made can be overridden to match the choice the language makes.

That doesn't mean the language needs to, or should, choose that - import maps mean that any choice browsers have made can be overridden to match the choice the language makes.

Now that "std:" is associated with one of many hosts --- the browser --- we must choose something else for modules that are part of standard javascript, such as "js:". 


i took it more as a message that we shouldn't try to use a string specifier, because its currently entirely up to the host to interpret the meaning of specifiers.

Thanks @devsnek. I see that now upthread and it is a coherent position.

Am I the only one who doesn't like `std` at all? 

1. It's a shorthand of an English word that is non-obvious to some people.
1. It doesn't define _which_ standard, ECMA-262, WHATWG, etc? 

I think Chrome should have gone with something like `platform:`, and TC39 should use `js:`. 

@azz Although I don't necessarily agree with `platform:` or `js:`, the point about `std` still stands. There is very little precedent for shortened names. 
Off the top of my head, I can think of `atob` and `btoa`, and I can never remember which one does what. `std:` is not as self evident as we might think.

The more I think about, I agree that `platform:`/`:js` are probably not a good idea, there's no need to draw a distinction between APIs offered by the web platform and APIs offered by JavaScript platform.

As an alternative to `std:` I would offer **`builtin:`**.

>  there's no need to draw a distinction between APIs offered by the web platform and APIs offered by JavaScript platform.

There is an urgent an absolute need to do so. The browser is only one of many JavaScript hosts. What about Node? IoT? blockchain? A zillion embeddings within other applications as an extension language?

Code relying only on JavaScript APIs are portable across these. Those relying on APIs from a particular host are specific to that host.

The result of this separation is an almost perfect recapitulation of the separation between user-mode (computation-only) instructions on the one hand, and system-mode instructions or system calls on the other hand. JavaScript is a language without I/O. JS code using only the JS language can compute any computable function (Turing universality) but cannot cause effects to the world outside itself. With the exception of the grandfathered-in `Date.now()` and `new Date()`, it also cannot sense any effects from the outside world.

However, the JavaScript language does provide a mechanism for JavaScript code to obtain such access: Lookup of host-specific global bindings in the global scope to host objects. When JavaScript code calls a host object, that is the analog of a system-call. Because all access to the host starts with this global scope lookup, the ability to intercept this lookup is the ability to virtualize the host and therefore the external world.

Aside from a few grandfathered-in exceptions (`Date.now()`, `new Date()`, `Math.random()`), there is no hidden state or I/O abilities among the standard primordials. Thus, transitively freezing all the primordials (with harden) results in them being transitively immutable and therefore safely shareable between mutually suspicious subgraphs of objects. (Indeed, EcmaScript 5 missed some hidden primordial state which we removed from EcmaScript 6 for exactly this reason.)

As we introduce modules in JavaScript, we must take care not to lose these properties. The top level state of built-in standard JavaScript modules must also have no hidden state. Their namespace must be kept distinct from the namespace of that which is not safely shareable.

How about:

<table>
    <tbody>
        <tr>
            <td>core</td>
            <td>JavaScript, TC39</td>
            <td><code>core:encoding</code></td>
        </tr>
        <tr>
            <td>web</td>
            <td>Browsers, WHATWG?</td>
            <td><code>web:kv-storage</code></td>
        </tr>
        <tr>
            <td>nodejs</td>
            <td>Node.js</td>
            <td><code>node:fs</code></td>
        </tr>
    </tbody>
</table>

Having said that, I think that this discussion is off-topic, as it's supposed to be about the syntax in general, and not about the scope/prefix used.

I also don't like `std:`.
`web:` sounds more "right" for web content.
`js:` for the TC39 stuff. I wouldn't call it `core:` because the "core" stuff is on the global object. IMHO standard modules should be build upon the core stuff.

I would like to remind everyone [again](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-448027840) that any colon-terminated prefix beginning with a letter and consisting of [ASCII alphanumerics plus select punctuation](https://tools.ietf.org/html/rfc3986#section-3.1) (`std:`, `platform:`, `js:`, `core:`, `web:`, etc.) is indistinguishable from a [URI scheme](https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml) and should be registered as such in order to avoid collisions with actual (and potentially fetchable, in the future if not now) URIs.

It would therefore be prudent to either avoid a strategy requiring introducing many of them, or to better cooperate with URI syntax (`namespace|module`, `%%namespace:module`, `<namespace:module>`, etc.).

Are any of these valid?

- `@@scope/module`
- `!scope:module`
- `[scope.module]`
- `[scope/module]`


Can we apply modifier to `import` statement itself?
```
import builtin x from 'std/x';
import std x from 'std/x';
```

@YurySolovyov that's a variant of [my proposal](#issuecomment-449559890). What would it look like for dynamic imports?

@Mouvedia 
Can't really think about something less ugly than
```js
const x = await builtin import('std/x');
```
Or:
```js
const x = await import.builtin('std/x');
```

> `::` is used in E4X and JScript.

And

> I am just saying that :: may already have an ingrained meaning if you used the E4X extension or the JScript dialect. More recently you had the bind operator proposal.

There is only so much of good syntax left.

I think `::` can be disambiguated by context it is used in:
- namespace spec inside `import`
- binding `this` when used on an object

IMO string-less syntax is better in signaling that module is non-userland and makes it easier to analyse statically. And subjectively, it looks better.



@b-strauss,

> `js:` for the TC39 stuff.

JS is very generic/literal – it's all JavaScript.

> I wouldn't call it `core:` because the "core" stuff is on the global object.

`core` (central) here refers to core built-in modules. These would be implemented in all engines. Some of the items on the global object could be moved into this module. I think the idea would be to move away from using the global/window object.

A theoretical example for the poorly-named `atob` and `btoa` methods:

Old:

```js
window.btoa("Hello, world");
```

New:

```js
import {Base64} from core "encoding";

Base64.encode("Hello, world");
```

---

@gibson042,

That's one of the reasons why I suggested [these](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-449552095) alternatives, but it looks like Chrome developers are already moving forward with the colon-based syntax (although I'm sure it's not a final decision at this point in time).

My suggestions include both a keyword-based and a string-based syntax, but I'm not sure if either of them are technically viable. It'd be nice to hear from someone who knows.

---

@YurySolovyov,

> Can we apply modifier to import statement itself?

```js
import {Base64} from core "encoding";

// vs

import core {Base64} from "encoding";
```

IMO, the former reads better. The module itself is "core" or "built-in", not the export(s).

@glen-84 yup, I like that one too, mainly because it does not involve string-based namespacing

@azz
> Are any of these valid?
> 
> * `import x from '@@scope/module'`

That's a valid [relative URI reference](https://tools.ietf.org/html/rfc3986#section-4.2) (specifically `relative-ref  = relative-part` → `relative-part = path-noscheme` → `path-noscheme = segment-nz-nc "/" segment` → `segment-nz-nc = 1*( unreserved / pct-encoded / sub-delims / "@" )`), but I think it would be OK to hijack leading `@@` or even just leading `@` and require desired relative-reference interpretation in those cases—which are certainly unusual—to be explicit (e.g., `import x from './@@scope/module'`).

> * `import x from '!scope:module'`

That works. It's not a valid relative reference (it doesn't match `path-noscheme` and therefore `relative-ref` because of the `:`) _or_ absolute [URI](https://tools.ietf.org/html/rfc3986#section-3) (because `scheme = ALPHA *( ALPHA / DIGIT / "+" / "-" / "." )` does not include `!`).

> * `import x from [scope.module]`
> * `import x from [scope/module]`
> * `import x from <scope/module>`

Those aren't even strings, so assuming ECMAScript syntax is extended to allow them, there'd be no confusion with URIs anyway. But even as strings, none of them would be valid relative or absolute URIs per RFC 3986 (literal `[` and `<` are both disallowed in both scheme and in path segments), and therefore e.g `import x from '<scope/module>'` would be fine from that perspective.

Reading this discussion I have serious trouble understanding the urge to reinvent parallel solutions to everything that URIs where already designed to solve. Using proper URIs for this is not a bug, it's the fix.

Riffing on that, **URNs** in particular seem like a very good fit for functionality provided by an implementation or baked into ECMAScript/HTML/etc.

I know the title of this issue presents a specific framing and hypothetical, but I feel it's important to add my $0.02 ([again](https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-449602301)) in favor of `@scope/module` syntax.

I completely agree with @erights's [comments](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-473678538) yesterday about the importance of this.  The modularity of IO functionality, and the ability of platforms and users to extend and mock that functionality, are important and (afaik?) unique features of the JavaScript language.  That's why JavaScript is everywhere, and why it has been able to expand so far.

There is a cowpath here.  We can pave it.  There are clear benefits to doing so, which would strengthen the benefits of JavaScript's particular IO abstraction mechanism.

Let's not confuse "being a host object" with "having different syntax than userland objects".  Array, Object, WeakMap, Date, Math, and all the rest look just like "regular" JavaScript objects, and developers have somehow managed to use them to great effect.

@isaacs [Chrome is now shipping host APIs under the `std:` namespace.](https://developers.google.com/web/updates/2019/03/kv-storage#what_are_built-in_modules) So there are now *two* cowpaths. So the decision is not clear at all.

@Pauan an experimental decision made by one browser a week ago isn't a "cowpath", it's an attempt to create a new one. imo the decision is still just as clear.

@ljharb Any decision will need the cooperation of everybody involved, including browsers.

The fact that (by far) the biggest browser has made a decision (even experimentally) is a strong argument that cannot be so easily dismissed.

Does that mean that we should definitely use `std:`? No, but it *does* mean we cannot dismiss it either, nor can we dismiss other similar schemes like `js:` or `builtin:`

I don't like the idea of stuffing the syntax inside the string. `import builtin 'lib'` or `builtin 'lib'` looks much "polished" to me over `import 'builtin:lib'`, which relies on basically inventing a small language (syntax) which we stuff into the string. 

From my perspective, strings shouldn't carry so such semantic information within themselves. It always seems like a hack or someone trying to enhance the language with their own construct -- which has its use-cases when a developer does it with an existing language, but I don't think it fits the idea of language designed including it while changing language itself.

When I look at source code, my brain processes it as a (simplified) version of AST. When I see a string, it's just a sequence of characters to me and it should contain no semantic level-wide information (it shouldn't change how I "understand the imaginary AST"). 

Making `:` or any other symbol somehow special means making the string somehow different than other places where a string is used -- you'd expect different syntax coloring in IDEs, and you'd expect it to behave differently than other strings. Admittedly, this is already somewhat true with import paths, but I'd rather we stop adding more magic inside the string and instead tweak (or add more) keywords around it.

@lazarljubenovic To be clear, there is no "invention" of a new mini-language or syntax. Imports in JS *already* use URLs, and the `foo:bar` syntax is a part of URLs.

Yes, that does mean that `import * as foo from "http://someurl.com"` is valid, and already works. That's just how imports in JS are.

So whether you like it or not, imports in JS *already* carry additional semantic information. So there are no changes or additions to the language. It's just about deciding how to use the *already existing* URL system.

@Pauan no, imports in js use specifiers. Browsers have chosen (as the spec allows them to do) to treat specifiers as URLs. The difference is important - browsers aren’t the entirety of what matters.

As Iv pointed out [several times](https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-449852418), we cannot make an educated decision if we don't clarify whether we plan to have:

1. only one _unique_ scope (probably named std)
2. one _current_ scope (which name MAY change depending on the platform)
3. several scopes that can coexist (and one shared by all platforms)
4. several scopes but no compulsory requirement on a name for the "standard" library

Once the possibility/enablement/authorization is acknowledged—or not, we will be able to pick the right proposal for the job. Should we vote on this? Has this already been decided? Should the TC39 officially weight in on the issue?

@ljharb [Node also treats them as URLs](https://nodejs.org/api/esm.html#esm_url_based_paths): `import * as foo from "file://path/to/file.js"`

This was *intentionally* done to match with browsers.

@riggs  I believe polluting the global is exactly why an import-based standard library was suggested.

Chrome shipping an experimental API is far from being a second cowpath.  It's an experiment.  @-prefixed namespaces for JavaScript modules has been in use for years by the platform used by something like 93% of all JavaScript users.

A "cowpath" is not just "an existing implemented way to do a thing".  It's the path that is beaten down by people wandering about without a particular direction or intent, who all happen to land on a given convention or pattern, and then settle on that pattern because doing things mostly the same thing as everyone else is valuable in a community.

Chrome shipping an experimental API is... well, I'm not sure what the metaphorical equivalent would be, but it's about as close to the _exact opposite_ of a cowpath that could exist.

It might _attract_ us cows, but that seems unlikely, especially in the short term.  It's not something that's supported by other browsers (yet?) and since it's experimental, it's not something you can rely on anyone having, or even existing for the long term.

@isaacs The thing that you don't seem to understand is that Microsoft mostly gave up on Chakra and switched to Blink for Edge—like Opera before. Chromium is dominant.

Now check [this page](http://tc39wiki.calculist.org/about/people/); out of the 21 members listed you have 10 that work for a company using webkit or blink (6 google, 2 apple, 2 microsoft) and only 3 working for Mozilla.

What Google picks matters. And you will have a hard time reverting what they will eventually choose. It might even be too late…

> Now check this page

that page isn't anywhere near accurate, if you go to the github repo it was last update 7 years ago.

On other notes: I can't see this topic on the next TC39 agenda: 
https://github.com/tc39/agendas/blob/master/2019/03.md

@devsnek please don't distort what I am saying.
TL;DR: Mozilla is a minority in the TC39 and browser market share wise as well. Google is the dominant  player like Microsoft used to be.

Now here's the part which is subjective: whatever Google will pick will be the standard.

> @riggs I believe polluting the global is exactly why an import-based standard library was suggested.

Does a single additional global really count pollution?

It handily side-steps the whole `import` namespace problem, and can readily reuse extremely common existing patterns for compatibility.

@riggs
>Does a single additional global really count pollution?

perhaps you're right, but either way, there is already a global to which all of the current standard library is attached: `window` (at least on the browser).

For a common `Global` across all environments, there is already a proposal 
https://github.com/tc39/proposal-global/

---

From my perspective, builtin modules give us a chance to "fix" issues in the current standard. Like the new `Temporal` proposal, or @glen-84's suggestion: 
```ts
import {Base64} from core "encoding";

Base64.encode("Hello, world");
```
as replacements for `Date`, and `btoa` and `atob`.

And while new we could add new `Global`s like `Temporal` and `Base64`, I find imports more aesthetically pleasing; they make JS feel more mature. `¯\_(ツ)_/¯`

Disclaimer: There are some better and more logical arguments, this is just my take.

> @-prefixed namespaces for JavaScript modules has been in use for years by the platform used by something like 93% of all JavaScript users.

Citation needed. Is npm big? Yes, definitely. 93%? Highly unlikely.

And in any case, a solution requires the consensus of browsers. So if Chrome has decided on one path, then that carries a lot of weight, regardless of how big or not big npm is.

@obedm503 `globalThis` has value and seems distinct from this discussion.

I'm mostly curious as to why I haven't seen discussion of, e.g.:
```js
stdLib.Base64.encode("Hello, world");
```

Google's been doing great work in TC39, and V8 achieves a high level of spec-compliance. I'm confident that we can work towards a common conclusion here through standards.

Having a subglobal God object hanging off of `window`/`global` seems like a poor path to me. Isn't the point of imports to only load code that an application is using, and make code easier to statically analyse?

Yes, Google is the most dominant player in the browser market, and they swing a lot of weight, indeed quite a bit like Microsoft used to back in the day.

But that's still not a _cowpath_, is what I'm saying.  It's a highway being paved by a dominant technocrat.

Which might be fine in a lot of cases, I mean, you don't want cows to run the show, and presumably the technocrats are smarter than cows about a lot of things.

The idea of "paving cowpaths" in language design is that, when the goal is to design language features that will satisfy a community and be easily adopted with a minimum of disruption, it's good to take stock of the patterns that have naturally emerged.

Google putting something in an experimental release is not "paving a cowpath", because in this context, Google is not the cows.

> Citation needed. Is npm big? Yes, definitely. 93%? Highly unlikely.

Well, "big" is subjective.

I can say that more than 11 million people use npm.  This number is leveling out as we reach saturation of all JavaScript developers worldwide, and is now growing merely at the rate of new JavaScript developers entering the field or switching from other languages.  This is about 50% of all developers worldwide (on the order of 15-30M, depending on what you count as a "developer").  (A few years ago, it was much more of a hockey-stick.)

The 93% number is based on a survey done by the JS foundation, Node.js foundation, and npm, Inc., of a worldwide sample of JavaScript (and non-JavaScript, but JavaScript-using) developers around the world, spanning an impressive number of industries.

So, I don't know if that's "big", but according to the best data anyone's been able to gather, it is about 93% of all JavaScript users using npm.  Of course, that doesn't mean that 93% of JS devs are publishing packages to npm.  We've only got a million packages or so, in ~8M versions.  But they're accessing the registry to do their JS work, so they're being exposed to the patterns of module naming conventions, and getting along fine with them.

I'll leave the googling as an exercise for the reader.  Start with IDC's reports on the number of devs worldwide, the JS ecosystem survey from 2018, and the great work that Laurie Voss has presented again and again, correlating the survey data to npm's internal data.  Or just go find 100 JS devs, and let me know if more than 7 of them never touch npm.

But this isn't about npm.  This is about the namespacing pattern that people are using.  npm didn't really even "invent" that so much as choose it by a process of elimination, and I don't think we've ever claimed to own it.  You can use `@foo/bar` in a node app without ever touching npm, or (with a bit of webpack and babel) in any browser app.

The point is that this is the cowpath, so why not pave it?  Chrome is probably gonna implement the standard, because they trust TC-39 to wisely design a standard that serves the needs of JS developers, but they'll also push on it to make things move.  So why not make the standard be the thing that people apparently are cool with using, and have been using for years?  Why redesign this bikeshed?

Thinking about this more, the ergonomics of using what was presented in Chrome's blog are pretty poor. Needing to rely on a special tag injected into my HTML to handle polyfills is a burden I don't currently have.

If someone were to make a `std` npm package that tries to import everything, catches the exceptions, includes the polyfills, and hangs it all off of a global object, I'd use it in a heartbeat and never look back. I'll trust the JS engine to optimize away unneeded code, as it's likely already doing (doubly-so since this code will be part of the engine, anyway).

> The idea of "paving cowpaths" in language design is that, when the goal is to design language features that will satisfy a community and be easily adopted with a minimum of disruption, it's good to take stock of the patterns that have naturally emerged.

They emerged due to lack of standard namespacing mechanism, so if we were to actually introduce one, why look back at half-measures people came up with?

This is discussed a lot in #12, can we summarize the for/against "pave the cowpath" discussion?

### Pros

- Language doesn't need to change.
- Don't need to register a/many URI schemes.
- Testing tools should "just work" for the most part, e.g. module mocks in Jest.
- Polyfills could _potentially_ be published on npm with the same name, e.g. `@web/kv-storage`. Your bundler could then intelligently generate import maps without additional configuration.
- TypeScript `@types/` packages will "just work", if published as, e.g., 
`@web/kv-storage` or `@types/web__kv-storage`.

- ❓Anything else

### Cons

- Tooling would need to recognise a subset of "npm scopes" (`@std` et al) as "builtin" scopes, and not attempt to bundle them, resolve them, etc. It would be _cleaner_ if there was a way to distinguish builtins.

- Educating the difference between builtins and npm modules.

  I have seen _**countless times**_ beginners to Node.js and npm install builtin modules like `fs`, `path` in their `package.json` files. It's not obvious without looking up the documentation that these are builtin modules.

  - https://www.npmjs.com/package/path - 650,000 weekly downloads
  - https://www.npmjs.com/package/fs - 400,000 weekly downloads

  _However_, **if** the Node.js builtins were prefixed with `@nodejs/` this problem would go away. `npm install @nodejs/fs` would fail because you can't squat the name. So if `@std/`, `@web/`, or `@builtin` are chosen I don't see this as huge problem.

- ❓Anything else


> Language doesn't need to change.

To be clear, the language doesn't need to change either way, since URLs are already used for JS imports (in both browsers and Node).

> Don't need to register a/many URI schemes.
 
Chrome went ahead and added in `std:` without registering it, so I'm not sure if that's actually a problem in practice.

----

The rest seems accurate. Thanks for posting a summary of the two positions!

> [...] the language doesn't need to change either way [...]

Not for `std:`, but some other suggestions in this issue are syntax changes.

@azz Oh, well if we're talking about the new syntax proposals, then you should add a new downside: they don't work well with dynamic `import()`.

So really there's three proposals: `@foo`, `foo:`, and the various new syntax proposals. So I think it should be split into three sections, not just Pros/Cons.

Perhaps I'm missing something, but what is the practical use of dynamically importing a built-in module?

@obedm503 https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-448717535

Hello everyone.

At times I have been accompanying this discussion and I have realized that the more time passes, the more we move away from what would be useful for an end programmer.

`What makes javascript so good, is its simplicity in terms of code interpretation (not all 🤔)`

I have seen some fantastic examples here, and others none the less. If I may do a review. I wonder why we have to add complexity to something so simple?

We have always done importing modules using the syntax

```js

import something from 'something'

```

And now, because we want to patrol the import of certain built-in modules, we start thinking about a more complex way of doing this.

Knowing that there is already a syntax that is familiar to many, why break it?

If we start to analyze some current trends of other languages ​​tools is to use a reserved word in the import to it to indicate that the import is local (ex: ./something.js for javacript, package: ... for flutter, among others) .

So my suggestion is:

The built-in modules are modules that the browser provides for execution. If that's what I realized.

Soon my opinion of making it more readable serious.

based on the answer above from @glen-84, which I think is more cohesive. Just changing the term std| or std() to something like browser: or bwr:

```js

import Date from "browser: date"

```

And then, we could see variations of the browser, for something like `` bwr``

Thank you ^ - ^

@mattijs can you close the loop on this would relate to [concurrent changes for stage 2](https://github.com/tc39/proposal-javascript-standard-library/blame/master/README.md#L82)? 

I find it a little hard to know what input would be relevant/outdated?

The term "JavaScript" does not even exist* in the spec, how could the abbr. `js` lives without corresponding full form explained?

<sub>*: Only exception in Introduction: ECMAScript is based on several originating technologies, the most well-known being JavaScript (Netscape) and JScript (Microsoft).</sub>

Also, as I [mentioned before](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-474023783), `js:` is very generic – `web:` and `nodejs:` would also be "JavaScript". 

I [prefer](https://github.com/tc39/proposal-javascript-standard-library/issues/20#issuecomment-473681058) something like `core:`, unless someone has other ideas?

(yes, this is slightly off topic, but it looks like they're going ahead with the `x:y` syntax?)