Use existing namespace cowpath instead of protocol-ish solution

Myself and several others at npm (a voting member) feel that we should be using the existing cowpath for scoped module syntax (`@std/foo`) instead of `std:foo` or other such alternatives.

While this would usually come down to a simple matter of taste, in this case, we have 254,091 scoped packages in the registry already using this syntax. That's more than most other package registries for other languages, as-is, and is a significant % of our ~950k packages on the main npm registry.

This syntax would also be beneficial because it allows an _existing_ mechanism for polyfills that will work with all current and past versions of node, and can easily be made to work with the browser module system through this proposal and others specifying what non-`./` specifiers are supposed to do to resolve.

hey @zkat thanks for chiming in!

For myself I've been hedging on the importance of making an explicit difference between built in modules and ones from the file system. Could you expand on some of the value you see in keeping them the same?

This is currently being discussed in the Node.js repo in https://github.com/nodejs/node/pull/21551, very much appreciate hashing this out and reaching consensus on this and shipping something that is aligned with various bodies / platforms interests.

Another concerns that I had was flexibility in namespaces. Picking the protocol-ish solution would allow us to pick a variety of namespaces without competing with userland, and would be able to be shimmed / polyfilled with import-maps and loaders. If we were to use the scoped module syntax we would then be competing with existing namespaces (the exact problem we are trying to solve in nodejs). Can you imagine a longer term solution that could guarantee flexibility here?

i actually see this as a reason *not* to use that namespace style. I would want something that sits above npm's (or anyone else's) namespaces, so that namespace ownership is unable to become a problem.

Name collision is a big CON; anyone got the @std scope?
<small>if not it's a matter of minutes now</small>

> Name collision is a big CON; anyone got the @std scope?

Yes, @jdalton does, but it only contains [one package](https://www.npmjs.com/package/@std/esm) and that package has been deprecated in favor of its non-namespaced version.

(Personally I kinda like the empty string, i.e. `@/foo`, as a namespace. No risk of collision there!)

Namespace ownership is always going to be a big problem - by using npm's system, we can use their existing solutions for that, instead of immediately finding ourselves in that difficult swamp.

@Mouvedia @bakkot FWIW I've already been pinged by @littledan regarding the `std` scope and totally willing to donate it to help out the effort if needed.

If the format is `@scope/module`, you will have fishing going on.

Are we talking about only one std scope or will this the foundation of many more to come?
If it's the former I don't care about the name conflict.

> then _we_ can run our own registry

@littledan who's "we"? @tc39?

@littledan using a scope means users can use what they know. Using a scheme means users now have code like:

```js
import {Connection} from "std:worker"
import {map} from "@lodash/functional"
import minimist from "minimist"
```

@Mouvedia I meant we = the JavaScript, Web and Node community

users don't know any namespace for standardized functionality from the language because no such thing exists yet.

There are still a lot of additional points that need to be considered here. off the top of my head:

- lots and lots and lots of js users are working in environments where npm isn't used or considered (embedded hardware, game engine addons, etc). what would the best syntax/etc would be for someone who isn't using <package manager x>
- given the current monopoly npm has on the js ecosystem's packages (not that this is a bad thing), using a specific namespace that fits for npm opens some doors to potential namespace ownership issues down the road (again i'm not suggesting npm is going to do bad things, but a sun/oracle type situation with the defacto place to put standard polyfills would be bad, and take the ecosystem a long time to recover from)
- various security things (like phishing misspellings of `@std`)
- how fallbacks are mapped in an environment generic way
- <sub>the possible area of conflict for npm with this change (to be 100% clear, i am not suggesting npm has any ulterior motive here, but due diligence is important)</sub>

> possibly via the js foundation

@littledan that's why I wanted to know what you meant by "we". Even if it's off topic, it's important.

Thanks for bringing this up. Like @MylesBorins, I waffle on whether using scoped syntax for built-in modules is a good or bad idea. Last we talked, he mildly convinced me that different syntax was better.

Let me ask a few pointed questions in the hopes of drawing out folks' intuitions.

> Namespace ownership is always going to be a big problem

This doesn't seem obvious to me. For example, if we pick `:`, then hosts (Node, web, etc.) can completely control the resolution of these spaces, with no overlap with the npm registry. There's not a big problem; instead there's no problem, because collisions are impossible in a centrally-controlled system for governing the behavior of `:`.

> by using npm's system, we can use their existing solutions for that, instead of immediately finding ourselves in that difficult swamp.

What existing solutions are those? The one I'm aware of is emailing support@npmjs.com, which makes a judgment call whether to reallocate the scope or not.

The way I see it, the solutions are pretty unsatisfactory and non-applicable for cases that are not actually using the npm registry or filesystem. For example, if we pick `@`, and later a new IoT product named e.g. `blinker` wants to introduce `blinker@/...` modules for its own environment-specific functionality, that introduces several problems:

- Blinker's built-in modules are provided with npm-like syntax, and their users might then expect they could do `npm install @blinker/util`, but that won't work, because actually all the `@blinker/` modules are baked into the Blinker device firmware.
- If someone gets wind of the launch of blinker before that company settles on a final name or otherwise reserves the npm namespace, they can cause a confusing situation for people who have such an expectation, by publishing their own `@blinker/util` that does arbitrary work. (Assume the work is non-abusive and legitimate, i.e. not worthy of a takedown---just confusing for users expecting Blinker's built-in functionality.)
- Even if Blinker, Inc. does everything right, they end up reserving the `@blinker` scope on npm only to not fill it with anything. (Because all their built-in modules are baked into the firmware, not distributed on npm.) So we end up encouraging an ecosystem of "scope-squatting" which doesn't even get useful packages published on npm!

> And then you need to explain what all 3 do.

Is that a bad thing?

In the particular case of Node.js, should the syntax for accessing files that you control on your local filesystem (i.e. `@lodash/functional`) be the same, or different, from the syntax for accessing libraries implemented as part of the runtime? Especially as libraries implemented as part of the runtime may change as you upgrade Node, even in backward-incompatible ways.

I'm genuinely curious on folks' thoughts here.

---

Other points:

> If we use scheme:module, we might want to register each prefix with IANA as a scheme, to make sure URLs don't reuse the same thing.

Since module specifiers aren't URLs in most environments, I'm not sure how important this is. (Some URLs are module specifiers, but that's the extent of the relationship.) Similar to the npm scopes issue, assuming that a registry designed for one thing should also be used for built-in module prefixes is bound to lead to confusion and weirdness.

> (Personally I kinda like the empty string, i.e. @/foo, as a namespace. No risk of collision there!)

Clever!

> Regardless of whether we go with @scope/module or scheme:module, I think import-maps could be used for polyfills (I don't know enough about loaders), couldn't they?

Yes.

@isaacs did you mean to post that on nodejs/node#21551?

_I was midway writing a response but @isaacs' has summarized my feelings very well._

The reason I'm an employee at npm, Inc is that I care a lot about JavaScript and its community. I see JavaScript, the corpus of open-source on npm, Node.js, and modern browser technology, as all part of the same whole.

When we make design decisions that don't look at this collection of technologies holistically, not only do I think it leads to worse products, I think it can serve to fragment the community, and create contention.

* module authors should look at trends in language features and use these to shift practices (see: the amazing growth in the language babel has facilitated).
* at the same time, TC39 (Node.js, and other folks helping define platform standards) should look at habits that have grown up in the open-source community and use these to shape decisions 

The open-source JavaScript community already has a syntax for scoping packages (`@foo/bar`) and already has a culture of shimming modules, (see @jdalton's [esm](https://www.npmjs.com/package/esm)). 

Folks are going to want to shim standard modules, rather than coming up with a way to make this difficult, let's make it possible in an elegant secure way for folks.

> The open-source JavaScript community already has a syntax for scoping packages

i think that depends on if you view npm as the entirety of the open source corpus for js code. npm itself has syntax to refer to packages from github (`name/repo` or `git://`), gists (`gist:id`), direct urls or paths to tarballs, etc., which all confuse the notion of a "one true namespace"

I think it's important to separate shimmability from built-in module specifiers. At least on the web with import maps, and likely on Node with loaders, you can intercept any arbitrary specifier (including `std:foo`) and replace it with a shim or polyfill. `:` vs. `@` has no impact on that.

What I'm hearing from the last two posts, if I take out the misunderstandings about shimmability, is that it's more about wanting uniformity between files-on-disks and libraries-shipped-with-the-platform, assuming default usage with no shims or polyfills or loaders or import maps involved.

Which comes back to the questions I tried to ask. Is that uniformity good, or bad?

> Which comes back to the questions I tried to ask. Is that uniformity good, or bad?

It is good.

> npm alone has syntax to refer to packages from github (name/repo or git://), gists (gist:id), direct urls or paths to tarballs, etc. and it's not even the only package manager. this seemingly confuses the idea of a "one true namespace"

Arguments to `require()` and `import` are not things like `git://` urls, though.  They're just the names, either of the form `foo` or `@foo/bar`, or `@foo/bar/path/to/file.js`, always.

> @isaacs did you mean to post that on nodejs/node#21551?

No, but the same comment could apply equally there.  Thank you for the nudge, I will cross-link it.

@devsnek certainly there's open-source JavaScript outside of the npm registry. _but_, npm represents the largest corpus of open-source JavaScript code, and has practices developed across millions of developers.

@domenic to better explain where I'm coming from with the overloaded term _shims_:

Myself, @boneskull, @iansu, @guybedford, and a few other folks have been exploring how the [Node Tooling Working Group](https://github.com/nodejs/tooling) can back-port new core-module features, e.g., `mkdir --recursive`, as they're added to Node.js. 

One thought being we'd release modules like `@node/mkdir` which provide the behavior conditionally on Node version (shimming otherwise). I could imagine a world where we do something very similar for internal modules, e.g., `@std/fs` is published to npm by Node.js, and would provide a standardized `fs` module experience across older Node.js versions.

I also like that modules on npm could similarly be published that provide the same behavior as `@std/foo` in the browser.

☝️ I'd put the ability to do this in the `good` column.

is this an accurate view of the disagreement?

"npm is super popular/ingrained in the ecosystem, it would be great for users of js to design std modules around it"

vs

"js is used in a lot of places, it would be great for users of js to keep the std modules distinct/disconnected from any specific environment or tooling"

I would like to mention that it's worth to try to separate the standard library from npm. Yes, npm is practically the standard registry, but it doesn't need to be. Also, standard library "packages" are not _really_ packages/modules in the same way a regular module is. As such I would like to recommend not using string identifiers for standard modules.
```js
import { Instant } from temporal;
// insead of 
import { Instant } from '@std/temporal';
// or
import { Instant } from 'std:temporal';
```
I may be wrong, but it seems standard library packages are **not** supposed to be url resolvable packages. As such, it would make sense that the names be consired syntax instead of urls.

It may be a weird thing for me to say, since it certainly serves my personal and professional interests to equate "npm" with "JavaScript" in whatever way possible, but I'd really like to stop equating this pattern with "npm" per se.

The interesting thing is that millions of JavaScript developers are _today_ using the `@foo/bar` pattern for namespacing modules.  The fact that they are doing this with npm, and that npm (the tool, service, and company) has been a part of establishing this pattern, is somewhat orthogonal to the fact that the pattern _is_ established at this point.

You're seeing people from npm, Inc. getting very passionate about this because we care a lot about modular JavaScript.  That's why we choose to work on the problems that we do.  But frankly, it ultimately benefits "npm" not at all to do it one way or another, and the pattern isn't tied to npm as a platform in any particular way.  Others can and have implemented the same naming convention for JavaScript, and nothing's stopping them from doing so.

So, yes, I agree that it's worth separating the standard library from npm.  I also thing that has no bearing on whether the naming convention chosen mirrors that already in use by the vast majority of JavaScript users today.

@domenic I agree technically we could use either. So it comes down to whether we want *users* to be aware that these APIs are different to those they import from regular userland sources.

My opinion is that these APIs truly are different AND users should value them differently because:

- they come with a stronger compatibility promise than the average package, e.g. spec, conformance tests
- users ought not to need to do any security/backgrounds check on stdlib APIs as you do when taking third-party code and assessing the trustworthiness of the source (assuming you avoid polyfills) 
- there's an implication stdlib APIs are cheaper to load than userland packages, e.g. No network fetch and the VM might even share the native DLL in memory across processes.

So let's signal this value to users in the naming scheme. It will aid adoption. 

> you can publish that as @bencoe/fs and then configure your loader to map std:fs

I think some of my FUD is coming from the fact that how loaders and maps will work, from the perspective of a module author, feels a ways away from being fleshed out. Specifically for overrides to be valuable, it would need to be something that a module author can control (making a library that progressively enhances to new Node.js features) vs., something that a consumer of modules configures.

Also, I was picturing someone would be able to write this code today (pre new loader):

```
const {mkdir} = require('@std/fs')
```

And have it already work, if the bridge module has been published..

and write the same code in Node 14 (or some future node), and have it use the built in module.

_perhaps I'm just surfacing the requirement that loaders and module mapping functionality be back-ported to older Node.js._

> My opinion is that these APIs truly are different AND users should value them differently because...

I think some valuable points have been made by various folks, regarding some of the benefits of making standard libraries stand out like a sore thumb.


at this point i'm confused on if we're talking about node.js builtins or the ecmascript standard library. these two topics, while obviously related, definitely have different constraints and goals, and i don't think we should be directly equating them.

> at this point i'm confused on if we're talking about node.js builtins or the ecmascript standard library

I think we are attempting to find a solution that could satisfy both use cases... thus we need to seek consensus around all areas where there might be objections.

---

One area of contention appeared to be polyfills. @domenic has pointed to import-maps as a solution for browsers and loaders for node.

I've made a proof of concept of polyfilling the namespace `nodejs:` in node today... this approach could work with any arbitrary string and should be able to be ported to any version of node with a little elbow grease

https://github.com/MylesBorins/namespace-polyfill

As we have a solution for both environments I think it is reasonable to assume that "polyfilling" is a non issue at this point.

---

What is remaining is a disagreement between whether built-in modules should conform or be obviously different

from @isaacs 
> There is a module on npm called fs, another called domain. Those were co-opted by the platform

This is not entirely true. We have actually attempted to create a moratorium on shadowing ecosystem packages in node until we sort out namespaces. This has been a significant challenge and has blocked us expanding APIs (independent of if we should be making more apis 😉).

While I am a huge proponent of keeping JavaScript approachable, I think there is value in being explicit at times. The difference between a built-in module and an ecosystem module is something that is very important for a new developer to learn, IMHO.  

> I think there is value in being explicit at times.

This.

This discussion is a great read, with excellent arguments. Despite also initially having preference for scope-like standard libs, I'm finding it hard not to disagree with Myles here.

If I may add another concern into the mix, I'm not sure how I feel about std libraries being URL protocol schemes - it seems a conflation in and of itself. I tend to think if we're going for distinction, we might as well go for full distinction here. 

The only thing that seems vaguely plausible here so far is a double colon - `node::fs` or `std::lib`. That way, a simple regex can always detect a stdlib module specifier for any stdlib (eg even `blinker::x` is detectable), without having to carefully maintain a stdlib or URL protocol whitelist / blacklist. 

>I'm at a bit of a loss as to how this could be implemented for common.js

this would only work with ES modules. this is on purpose, as ES modules are the standard. I supposed node could load them however it wants (`@std/*` or `std:*`) in commonjs modules. commonjs is already non-standard, so there's no reason of why it couldn't load modules in it's own way.

>it will be strange / unexpected to have some modules that are strings and others that are not

this is also on purpose, standard modules are special, and they are the only ones that are imported like this.

@littledan given that the new title ignores the option of **not** having string specifiers as standard library module names, should I assume the option is completely out of the picture? is it just not possible?

the two options in the name are hopefully not the only options left... this feels like a false choice

I agree that `:` isn't ideal if it parses as a URI and would have to be registered, etc.

`::` makes things look *a little bit* like C++. Are there any other alternatives?

@glen-84 I think we should first figure out if it is npm like scopes or "something-else" and at that point we could decide how much to bikeshed the "something-else"

That's my 2c

@MylesBorins,

Fair enough. FWIW, I'm -1 on npm-like scopes, for the reasons that I mentioned [here](https://github.com/nodejs/TSC/issues/389#issuecomment-392907223) and [here](https://github.com/nodejs/TSC/issues/389#issuecomment-401549522).

`scheme::module` is a valid absolute URI, cf. RFC 3986 [section 3](https://tools.ietf.org/html/rfc3986#section-3) and [section 3.3](https://tools.ietf.org/html/rfc3986#section-3.3) and observe that _hier-part_ (which follows the first ":") can be _path-rootless_, which starts with _segment-nz_, which starts with _pchar_, which can be ":".

URI _scheme_ must start with an alphabetic character and consist only of alphanumerics, "+", "-", and "." (cf. [section 3.1](https://tools.ietf.org/html/rfc3986#section-3.1)), but e.g. `@scheme:module` is still a valid _relative_ URI reference, and even `:scheme:module` or `%scheme:module` or `<scheme:module` or `|scheme:module` (although not valid per RFC 3986) are accepted by the [WHATWG parsing algorithm](https://url.spec.whatwg.org/#concept-basic-url-parser)—but at least all but the first of those are nonconforming and therefore at least potentially subject to special treatment (likewise for any other format that starts with something other than an ASCII letter, "/", "?", "#", or a [URL code point](https://url.spec.whatwg.org/#url-code-points)).

If the idea is to differentiate standard library modules from potentially-relative URIs, I think a **super**-special prefix like "%" would be most prudent.

@gibson042 @guybedford would you be able to capture those thoughts in https://github.com/tc39/proposal-javascript-standard-library/issues/20

I'm strongly in of `scheme::module`. @robpalme's [comment](https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-447253351) summarizes my thoughts very well, I'd want the identifier to be significantly different that other modules.

There is a lot of confusing stuff being said in this thread, I'm having trouble keeping track of it.

Apparently `std:foo` is better than `@std/foo` because it's a valid URI.  Or, worse, for the same reason, so `std::foo` is better.  They look different, which prevents polyfilling, except that any of these options are trivially easy to polyfill with module name maps.

If there is a genuine desire to create a non-polyfill-able module syntax for builtins, in order to differentiate them from userland modules, then that will require entirely new syntax, or rejecting module name maps.  In that case, I suggest adopting PHP's backslash-separated namespaces instead of string literals.  Then they'll only be polyfillable if we rewrite our code entirely, which a majority of JS devs do today anyway.

This is a bikeshed.  It's a stylistic question, and it's bound to attract all sorts of purely esthetic considerations and twisted rationalizations which come down to "I like this style better".

I like the `@std/foo` style because it's the one that JavaScripters already use.  There are huge practical benefits to polyfilling and consistently building on top of core functionality (this is _sort of_ the point of 1js, after all), and we know that people will eventually adopt and extend whatever's established in the core language.  Let's pave this cowpath instead of creating Yet Another thing.


@isaacs people (such as myself) have raised points that aren't related to the stylistic choices. i'd suggest you take another read through so you can address those points as well.

@domenic 

> @isaacs you state that being the same is good, but without any reasoning. The rest of your posts seem to just do the same thing, e.g. talk about how it benefits everyone to choose the same naming convention for filesystem-located modules vs. built-in modules, without explaining why. Perhaps you could expand?

You're right, I do take this as being obvious, but I see that it is not.  I apologize.

It comes down to how much you want an abstraction to leak, given your distance from implementation.  Or, in other words, how "close to the metal are you" at the moment when you're forced to acknowledge that an abstraction exists.  

A good rule of thumb in design is: the explicitness of an abstraction should be inversely proportional to the distance from it at any given point.  When you're writing code, you should be expressing intent, not implementation, wherever possible.  For the same reasons: when you're using a sink, you shouldn't have to think carefully about plumbing, you should just think "I want water".  When you're driving a car, you shouldn't have to think about how an alternator works, you should just think "I want to speed up or turn left".  It's only when there's a disaster that you need to be aware of these things.  In normal operation, they should be invisible.

For the average JavaScripter using Node.js today, there _isn't_ much of a difference (in their intent) between `import React from 'react'` and `import fs from 'fs'`.  They're both bits of functionality written by other people that my app depends on, and they intend to bring them in.  If `fs` is implemented in userland, or `react` is merged into core, they shouldn't have to care.

Using different syntax for these two things makes them unnecessarily differentiated, and requires programmers to express implementation rather than express intent.  The difference makes sense to implementers, sure.  But that's not most of the audience for this feature, by almost a million to one.  It violates this design principle, by bringing awareness of an abstraction to a level where it should be invisible.  In so doing, it not only complicates the experience of using the abstraction, it also reduces its power, and cuts off avenues of extension and polyfilling.

A user doing `import foo from '@std/foo'` is expressing the exact same intent as if they typed `import foo from 'std::foo'`, except that they are forced to consider not just what they want, but where it comes from.

The way that node's module system streamlined importing userland modules, _and made it identical to the syntax for importing core modules_, is a big part of its success.  There's a great value in maintaining that consistency.  Since we can't easily switch everyone to using `std:foo` for userland modules, we should use `@std/foo` for standard library modules.

@devsnek I believe that I have addressed them, but in summary:

- "why follow npm" [This isn't about following npm, this is about following JavaScript.](https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-447224406)
- "there are non-npm environments" Yes, [and it's fine for them to use `@foo/bar` for modules](https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-447224406).
- "phishing etc" Not sure what the threat model is there, but module naming conventions doesn't seem like the right place to address it.
- "It's good to not look the same" See above, that's 100% incorrect.  It is not good.  It's bad.

Can you point out anything I'm missing?  Because really, I only see stylistic nits, especially since module name maps make it trivial to swap it all around anyhow.  So, yeah, it's a bikeshed that's just gonna make work for devs.  Using a different name convention is making the language less elegant for no benefit.

@devsnek 

> (@std/ especially, since it overlaps with npm)

I don't understand how this "overlaps with npm".  There is nothing npm-specific about this approach.  npm landed on this convention by process of elimination, since it was the only thing that _could_ work for namespaced modules without changing the module system, filesystem, or existing conventions for specifying and fetching modules.

> The one thing that stands out to me most in all this is that by using a string prefix in the specifier, we trample over the current behaviour which is that every string is a valid specifier that the implementer can do anything with.

It sounds like you just don't want a string literal to be the argument to `import` at all.

@isaacs,

For new developers, after installing a package from npm:

```
npm i @some/thing
```

Isn't it reasonable to expect that they would also expect to install `@std/thing` with npm?

What makes it different, *other* than documentation?

What would happen?

* All package managers are updated to reject installations from a list of scopes (`@std`, `@nodejs`, `@...`?)
* It attempts to install a polyfill, even if you don't want/need one

Built-in modules are not the same as user-land packages:

* They're local
* They're not packages (no package.json, etc.)
* They're versioned differently, or not at all
* They may not even be written in JavaScript (?)
* etc.

Having them coexist within the same namespace is just looking for trouble. There have *already* been issues trying to reclaim names in npm. I've read people suggesting that npm just "forcefully" take currently-used names when they think it makes sense. That's outrageous.

And which of these is correct? (answer quickly)

```js
import fs from "@nod3js/fs";
import fs from "@modejs/fs";
import fs from "@nodejs/fs"; 
import fs from "@node/fs";
```

Are you going to start registering all scopes that might look similar, for *every* runtime (std, nodejs, and all future technologies)?

What is wrong with just differentiating them?

```js
import mod from nodejs "fs";
import pkg from "@some/thing";
```

I'm all for consistency, but this just isn't the same thing.

@glen-84 
I don't believe people will expect to install `"@std/lib"` with `npm` more than current Node core modules (`"fs"`, `"path"`) etc. I don't have any stats, but I believe people are able to make the difference and don't try to install those from npm just because they are module identifiers.

After reading the arguments, I tend to agree with @isaacs: using the existing notation is a good thing. It will avoid increasing the complexity of the language / edge cases and leave module resolution to the loader.

Thanks for the link: I wasn't aware that there was so much confusion around this: a few thousand published packages depend on `fs`!

I still think that string literals should be used, but it makes a point in favor of a custom URL scheme/protocol.

Since any scope we chose would need to be reserved in advance anyways, there’d be nothing for them to install - in other words, it would already error out, and everybody would already be prevented from installing it. Future non-npm registries would have the context to pre-reserve any needed scopes.

That seems to be the same problem as with any other syntax, except that npm woudnt exist as a well-understood mechanism for it. Hosts can’t completely control anything if import maps land - the ecosystem can always establish an overridden meaning for a protocol prefix. eg, I can create `blinker:` in the ecosystem the same way i could with `@blinker/` - either by publishing a loader that uses it, or an import map tool, etc - and cause the company to need to adjust their name or risk the collision if they moved too slowly (the same risk as not claiming a trademark or a domain name quickly enough).

“Scope-squatting” is already the norm, since a scope is just a user account or org - every username on npm is technically scope squatting until they publish a scoped package, and worrying about the proliferation of these seems like both npm’s concern, and something they are unconcerned about.

Yes, it's precisely the fact that they're unconcerned about it that makes me think perhaps scopes/npm usernames are not the best mechanism to build standard library prefixes on top of.

@domenic 

> it doesn't scale very well,

Is the potential difficulty of allocating namespaces partly mitigated if we go with putting the standard modules in a single, shared namespace?

I can see how it can be worrying to align with a privately managed namespace. But right now, I imagine that if you're making a device that runs with JavaScript, you might want to make desktop development tools available for it on npm anyway. Using a separate syntax for the namespace might not end up getting around the listed problems in practice; they may be better resolved by working with npm.

> > If we use scheme:module, we might want to register each prefix with IANA as a scheme, to make sure URLs don't reuse the same thing.
> 
> Since module specifiers aren't URLs in most environments, I'm not sure how important this is. (Some URLs are module specifiers, but that's the extent of the relationship.) Similar to the npm scopes issue, assuming that a registry designed for one thing should also be used for built-in module prefixes is bound to lead to confusion and weirdness.

I don't quite understand this: If the definition of URLs *might* expand in the future to include yet-to-be defined schemes, and we might want to be able to load modules from these URLs on the web, then isn't there a risk of an ambiguous interpretation or blocked evolution path? Maybe the concern is theoretical if we're probably not going to expand the definition of URLs on the web in this direction.

Apologies for the length.  There's a tl;dr at the end.

So, let's dig into userland collisions with core module names.  This is an issue that we care about at npm, and is one reason why I'm eager to move node towards `@nodejs/<name>` instead of the current "fully unscoped" approach, and I can share some of what I think has gone well, and what hasn't.  I think that it's instructive to this discussion to see how this has played out in practice in a large JavaScript community relying on an ecosystem of core modules and userland packages.

`fs` was always a "squatted" package on npm.  Before npm took it over, it was just an index.js that logged ``I'm `fs` modules``.  If I remember correctly (big if, but I can check with our support logs when I'm back from vacation), the module would be fetched if someone used early versions of browserify on code that had `require('fs')`.  This was fixed by the host platform (ie, browserify, not npm).  We took it over so that it could not be used maliciously, and because that is generally how we handle squatting in cases where it could likely become problematic.  There are also cases of people depending on `fs` because they believe they need to.

Most of the packages that depend on `fs` are relatively low traffic, and in any event, it's harmless to do so.  They get an extra file in `node_modules`, that's all.  Since `fs` was always a core part of node, it hasn't caused any particular upset, except for the 1 or 2 confused people wondering why this "security holding package" still seems to allow them to mess with files.

The meatier issues, if you want to point to them, are: stream, crypto, zlib, and domain.  All of these were later additions to the node core module set, and 3 were in use prior to their inclusion in node core.  In the case of zlib, the API surface changed somewhat in the process, but was primarily additive.  In the case of domain, it was published shortly after the name was "reserved" for core usage, and then renamed to `cqrs` instead.

The case of `stream` is interesting as well.  It is specifically a polyfill to provide node-style streams in the web browser.  In this case, _the ability to collide was a feature, not a bug_, because you can (in many cases) run the exact same code on the browser and server by bundling this module.  (It doesn't look very active any more, so maybe there'd be some interest in bringing it up to date with node's current stream impl?  I don't know, you'd have to ask Julian.)

npm's goal is to reduce friction for JavaScript developers, and unexpected collisions are indeed a source of friction.  It's not a huge issue, but it's not nothing.  If Node.js were to use `@node/fs` instead of simply `fs`, then it would be much easier for us to be aware of the existence of collisions, especially if Node.js expands its scope of core functionality.   Additionally, this would still leave the door open for future-feature-matching polyfills and trying out experimental modules prior to their inclusion in core.

Furthermore, if the npm client knew that `@node` is a namespace of core modules, it could check to see if the current node version supports that module at that version, and avoid installing it, but still track that the user depends on it.  It would allow the node core team to easily see who is depending on which bits of the platform when they consider making changes or upgrades.  It could even allow for removing dependency hell _even in the platform itself_, since one module and another might depend on different versions of `@node/stream` or `@std/promise`, and not be limited to sharing the one provided by the core platform.

Regarding "scope squatting", it's a much smaller problem (but again, not zero) compared with unscoped package name squatting.  The problem is much smaller because (a) multiple users and multiple packages can use one scope, so you're not likely to need many of them, and (b) since a scope communicates identity rather than functionality, it's not such a big deal if you have to choose an alternative name.  For example, I'm "isaacs" here and on npm, but "izs" on twitter, and enough people assume I'm izs here that I went ahead and registered @izs and had it redirect.

Also, if you're creating a new platform, you only have to register a scope once, instead of figuring out an unused name for each module you create.

So, it's not that we don't care about this serious issue or anything.  We know exactly how serious it is, and that's why we're not super concerned.  In the rare cases where a namespace collision is actually a problem, it's relatively straightforward to address it.

Regarding the friction created in situations where a module exists both on npm and in node core, there are some things we could do to make this better.  (These all exist in some product backlogs, but they're not super high priority, because again, the issues are minor and don't affect very many people.)

- When a package on npm shares a name with a core module, we can surface that on the package page and link to the core docs.  (This is actually my favorite approach, and I believe is probably enough.)
- When taking over an abandoned or squatted module that shares a name with a core module, we can deprecate instead of simply holding it, with a link to the core module.  (Deprecation may cause more friction, though, because we're surfacing the problem to people who aren't always empowered to fix the thing they're using.)
- We can systematically send pull requests to modules that depend on core module names to remove the dependency.  (This also has some unfortunate trade-offs, as automated PRs come off as spammy and tend to incite a lot of social backlash.)

----

**tl;dr** - Name collisions are an issue, but a pretty small one in practice, and occasionally a good thing for polyfilling and user intent broadcasting. Scope-squatting is a _much_ smaller issue, and avoids the bad parts of module name collisions while preserving the good parts.  There are ways that npm could surface this better to users, and we plan to, but since the issues are minor, it hasn't been a high priority.

@domenic Right, the question would be, is the Web OK with closing off potentially adding more fetch schemes over time?

Although I would probably want to consult more widely before being definitive, I think the answer is probably "yes". This is based on the pain of the `http:` -> `https:` transition not being something anyone wants to repeat, and subsequent work to ensure that upgrades to the transport protocol all continue to use the `https:` scheme.

It seems like there is a fundamental disagreement over whether overloading the `@`-namespace is a good thing or a bad thing.

The argument for the overload being a good thing seems to rest on the idea that whether a module is built-in or userland is an implementation detail that users shouldn't have to worry about. I agree that this general principle worked to Node.js's great advantage its early days. With `require`, userland modules are on equal footing with Node built-ins, and that encourages userland solutions. That's a good thing!

I think it's important to note that whether we go with `std:` or `@std/`, userland solutions are still on equal footing, if not slightly advantaged (by virtue of not requiring a scope or scheme at all).

@domenic Your explanation in https://github.com/tc39/proposal-javascript-standard-library/issues/12#issuecomment-449657456 makes sense for not adding more network schemes, but do you think fetch may add more schemes like `blob` or `data` in the future? (I don't have any particular ideas for something to add here.)

@littledan `ws:` and `wss:`?

@zenparsing 

Well put, but there _is_ one aspect that I think you overlooked.

> I think it's important to note that whether we go with std: or @std/, userland solutions are still on equal footing, if not slightly advantaged (by virtue of not requiring a scope or scheme at all).

`std:` is only on an "equal footing" if users have module name maps to resolve `foo:bar` to a userland module.  In that case, it's just Yet Another way to do it, which doesn't ultimately communicate anything anyway, since it will be used by users, and `@foo/bar` is entrenched.  We already have semicolons and indentation, let's not add more pointless differences to quibble over.

@devsnek 

> if we create issues with an abstract language specifiation that involve working with specific companies for the foreseeable future to overcome I think we should rule out those ideas. npm could go out of business or be bought by oracle tomorrow.

That is unhelpful snark, and I find it frustrating that you keep returning to this sort of fud.  There are 3 "specific companies" making popular web browsers right now.  Should we not take their inputs seriously, simply because they could "go out of business or be bought by oracle"?

As I've said earlier, `@std/foo` isn't "the npm way", and there's nothing preventing anyone else from using it.  In fact, some of our competitors in the enterprise package repository space _do_ use it, and several other package manager clients support it as well.  It's a convention for module namespaces that the JavaScript community at large has settled on.

Criticizing a suggestion because of its origins rather than its merits is ad hominem noise.  Please take it elsewhere.

This thread seems to be getting a bit heated. I think @isaacs and @devsnek have both made their points here.

> @isaacs That is unhelpful snark, and I find it frustrating that you keep returning to this sort of fud.

To be clear, they were not referring to the syntax, they were referring to a requirement to cooperate with npm with regards to name squatting and name disputes (which I agree should not be a requirement for a JavaScript standard).

No programming language is an island. Cooperation, from multiple parties, is how things get done.

Again,

> Are we talking about only one std scope or will this be the foundation of many more to come?

This will determine what will eventually be chosen.
More precisely, will the standard library be enough for all target platforms?
We already have a hard time filling it with hypothetical modules; will std not just be an implementation example of a scope to be adapted to your tailored needs?

tl;dr: is this a skeleton for soon-to-come niche scopes or will it be released with tons of undeniably useful modules? Can we really aim for both?

@Pauan 

> a requirement to cooperate with npm with regards to name squatting and name disputes (which I agree should not be a requirement for a JavaScript standard).

I'm not sure what situation would require any JS standards body to be dependent on npm for naming collisions.

If you want to take over a name _within npm_, sure, you'll have to talk to us.  Similarly if you wanted to take over a GitHub namespace or Twitter account.

If the language specification says `import { strftime } from '@date/format'`, then yes, that will collide with the existing [@date organization](https://www.npmjs.com/org/date) on npm.  That just means that adding that to the standard will be disruptive, and is probably not a great idea.  You don't need to talk to _npm_, you need to talk to the owners of that scope, or figure out if maybe there's another namespace that would be better (like, eg, `@std/date-formats` or something).

But, at the end of the day, if TC-39 decided to add that to the language specification, then anyone doing `import { strftime } from '@date/format'` would (I presume) get the stdlib version, not the userland version, since the language builtin would trump the userland implementation.  (Just as things like `fs` do today in Node.js.)

Note: **this collision issue is exactly the same level of problem no matter what string syntax is chosen**, because (a) module maps make it possible for users to send the resolution anywhere, and (b) even without module maps, most JavaScripters transpile their code _anyway_, and (c) the strong observed desire for consistency will (I predict) result in people using the standard style in their userland code.  (For example, see the proliferation of `import` in Node.js code, where the userland implementation is subtly different from the specification, and the bugs that have resulted.)

There is no standard library module naming convention that will fully reduce the risk of colliding with popular userland programs.  Qv the [flatten-smoosh debacle](https://bugzilla.mozilla.org/show_bug.cgi?id=1443630) from last spring.  That's just part of the work.

The real question is not how to get out of talking to npm (or more accurately, talking to npm's _users_; and this is not advisable anyway, since the overwhelming majority of JavaScripters are npm users), but rather which stdlib module naming convention will be most straightforward and useful for people writing JavaScript programs.

> but rather which stdlib module naming convention will be most straightforward and useful for people writing JavaScript programs.

That is #16 purpose?

> You don't need to talk to npm, you need to talk to the owners of that scope

I have first-hand experience in that matter and I can tell you, without a doubt, that bypassing the user do happen.


@Mouvedia 
> I have first-hand experience in that matter and I can tell you, without a doubt, that bypassing the owner do happen.

I'm not sure what you mean by that.

My point was that the language specification doesn't *need* the namespace on npm.  TC-39 can just clobber it, and nothing in any of the proposals above suggest otherwise, or imply that the language specification would be beholden to npm or any other specific company.

It would of course be _nice_ to be cognizant of userland impacts of specification choices, and thankfully, we have some experience in this regard that can be helpful, but implicit in the fact that it's a "standard library" in the language specification is the fact that it might trump userland implementations.  (And, that being the case, polyfilling is much more straightforward if it uses the same naming conventions as userland modules.)

going back to suggestions, I would like to propose using some other word instead of `import` for standard modules. Something like `use` (inspired by Rust) might work very well and provides the clear distinction from userland modules that is needed. With this proposal string identifiers won't matter. Also, `use` works better for builtin modules because there is nothing to import over the network or from disk compared to userland.

```ts
use { Instant } from 'temporal';

use('temporal').then({ Instant }) => {
   // ...
});
```
I imagine dynamic `use` doesn't need to be treated as syntax like dynamic `import` is since there isn't a security risk involved in using builtins. BUT, making it syntax would make it a lot easier for transpilers and bundlers to do static analysis and automatic polyfilling.

dynamic `use` doesn't need to return a promise, since there isn't the network or file system involved. But for the sake of consistency returning a promise makes more sense.

Then there's the question of backwards compatibility for dynamic `use` since it's not a reserved keyword. This is where I'm not sure what the solution would be. Perhaps using `native` instead of `use` would allow for this, but since `native` is not a verb it doesn't seem to fit as well as `use` does.
```ts
native { Instant } from 'temporal';

native('temporal').then({ Instant }) => {
   // ...
});
```


@obedm503 `package` is also reserved but that's not a verb either.

at least, not a verb that’s helpful here :-)

Note, it's a little hard to introduce new keywords, since they can be used as variables. Recently, TC39 has been a little chilly to the introduction of the sorts of grammar complexity and edge cases that it takes to make contextual keywords work.

> it's a little hard to introduce new keywords, since they can be used as variables

I am aware of this, and the main reason I'm not sure how to work this out. But it's an idea worth discussing.

A possible solution to the new keyword problem might be a new directive. `"use standard";` could be used to make `use` a reserved keyword. this would also work outside of modules in the case of dynamic `use()`. But I would understand if TC39 is apprehensive about new directives too.

----
I also thought of `import native` (double keyword), `native` being the thing that differentiates. But I have even less of an idea of how this would work with dynamic imports
```ts
import native { Instant } from 'temporal';
```

@littledan it doesn't seem out of the question we wouldn't introduce more "local" schemes of some kind (and browsers support more than Fetch lists, though mostly for internal use). (I could see networking happening too if something like the decentralized web ever became feasible.)

@glen-84 

> > My point was that the language specification doesn't need the namespace on npm. TC-39 can just clobber it
> Wow. That's the solution? So a new runtime "blinker" (Domenic's example) simply shadows a userland scope that may have been used in thousands of dependent packages for multiple years? So a user of an npm package/scope really has no guarantee that they'll get to keep it?

I'm not suggesting that a runtime clobbering userland modules is a wise thing to do, or should ever be the first resort.  I pointed that out to show that no runtime is, ultimately, beholden to npm, regardless of the naming convention used.  The runtime has all the power here, as always.

If a new runtime called "blinker" wanted to use the `@blinker` scope for their builtin modules, then yes, this would collide with an existing userland packages in that scope.  It's _probably_ a bad idea to do that, if for no other reason than it would likely reduce adoption of their platform.  No one who _isn't_ using blinker would be affected, of course, so browsers and node.js would just keep going on as normal.

However, consider if a runtime for embedded devices or something came out, and called itself "fooblx".  They could register the (currently unused) scope on npm, and provide polyfills for their device APIs so that people could test their programs in Node.js or web browsers really easily.  _That's not a bad thing, it is a good thing._  That's not the only benefit, it's just the most obvious counter example to the "oh no collisions!" fud.  There's a benefit to runtime designers to this kind of design, because this sort of thing works today.

Using the conventions in practice in a community is a smart and kind thing to do.  It opens the door for more innovation.

We have 4 locations to resolve an import: URL, local file, native/builtin and import maps.
These 

@devsnek 

> if an implementer feels pressured to support the whims of an entity external to the specification in order to have a successful implementation, I think the specification has failed.

Who's talking about the "whims of an external entity"?  If an implementer does not recognize the code currently in use by their potential users, then they yes, will not be as successful.  No specification choice will change that, it's basic developer product design.

> Like you yourself said, if blinker doesn't deal with the existence of npm (and others) and avoid these issues, they face problems down the road.

I did not say that.  This is a mischaracterization of my position.  I said that if blinker doesn't deal with the existence of _userland code in the blinker namespace_, then they'll face challenges gaining adoption.

Are you actually suggesting that a successful specification would mean that platform implementors don't have to consider what code their potential users are already writing?

>  If an implementer does not recognize the code currently in use by their potential users, then they yes, will not be as successful. No specification choice will change that, it's basic developer product design.

(Note: I am not @devsnek, I'm not speaking on his behalf)

If the specification is designed in such a way that existing user code cannot conflict with the new features, then it works just fine. This has been successfully done many times in the past.

And there have been multiple suggestions on how to implement the JS stdlib in such a way that it doesn't conflict with user code.

> Are you actually suggesting that a successful specification would mean that platform implementors don't have to consider what code their potential users are already writing?

When adding new features? Yes.

When new features are added to JavaScript, it's done in such a way that it *cannot* impact existing code. This is [a core part of 1JS](http://2ality.com/2014/12/one-javascript.html) and avoiding breaking the web.

And when it hasn't been designed that way, it's caused problems, which then required workarounds like [`@@unscopables`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/@@unscopables).

I understand Node does things differently, and that's fine. But the way that browser JS has done things is *also fine*. It's done that way for good reasons.

Any solution must work in *all* environments, both the browser and Node (and others).

Let's try to look at *all* the perspectives and options, and not dismiss legitimate concerns by calling them FUD.

@Pauan 
> Let's try to look at all the perspectives and options, and not dismiss legitimate concerns by calling them FUD.

When I say "fud", I am not casually dismissing legitimate concerns.  I'm using that term to specifically refer to the fear, uncertainty, and doubt around using a "npm-style" namespace, simply because npm is a company.  Nothing in the proposal is npm-specific.  It's the way that people identify and recognize namespaces today, and there are numerous benefits to following that existing cowpath.

I guess, what I'm saying is, I'm dismissing (some of) the concerns, because they are not legitimate.

> When new features are added to JavaScript, it's done in such a way that it _cannot_ impact existing code. 

There is no approach which guarantees that userland code will never conflict with a runtime's chosen namespace.  Qv: Babel's implementation of `import`.  I guarantee you that people would be writing `import {readFile} from native 'fs'` in no time, because transpilation.  We are already in that place.

That being said, of course `import {foo} from '@bar/baz'` is _easier_ to polyfill than `import {foo}
 from \\polywog '::bar::baz'`, but my argument is that that's a good thing, not a bad thing.  The costs are minor, and the benefits are high.

> if blinker doesn't deal with the existence of userland code in the blinker namespace, then they'll face challenges gaining adoption.

Isn't this a potential issue if we allow polyfilling of built-in modules at all, regardless of the specifier syntax?

> When I say "fud", I am not casually dismissing legitimate concerns. I'm using that term to specifically refer to the fear, uncertainty, and doubt around using a "npm-style" namespace, simply because npm is a company. Nothing in the proposal is npm-specific.

Fair enough. My concern has nothing to do with npm as a company, it has to do with cleanly separating user and language features, matching the user's expectations.

> There is no approach which guarantees that userland code will never conflict with a runtime's chosen namespace. Qv: Babel's implementation of import. I guarantee you that people would be writing import {readFile} from native 'fs' in no time, because transpilation. We are already in that place.

There's a big difference: with your example, that's a *polyfill*, which is expected to behave according to the spec (and if it doesn't that's a bug which gets fixed).

On the other hand, using standard namespaces conflicts with *completely arbitrary* user code, which might *not* behave according to the spec at all. That has significant practical ramifications.

> That being said, of course import {foo} from '@bar/baz' is easier to polyfill than import {foo} from \\polywog '::bar::baz', but my argument is that that's a good thing, not a bad thing. The costs are minor, and the benefits are high.

I don't really buy that argument. With standard namespaces, you have to do `npm install @bar/baz`, and manage versions, which is a pretty weird way to do polyfills (people don't do `npm install fs` to install an `fs` polyfill).

Instead, polyfills would be provided by some sort of plugin (whether that be Babel, Webpack, import maps, whatever). In other words, a mechanism completely outside of the npm package manager. That's how things are done *today*, and I see no reason why that would change.

> @littledan Isn't this a potential issue if we allow polyfilling of built-in modules at all, regardless of the specifier syntax?

My assumption is that it shouldn't be possible to create an npm package name which contains `std:`, so there's no possibility of conflict.

In other words, importing `std:blinker` isn't the same as importing `blinker` or `@blinker`, so there's no confusion or conflict, and thus adoption shouldn't be hindered either.

Obviously an application can use import maps (or a Webpack plugin, or whatever) to arbitrarily assign std modules to anything they want, but that's controlled by the *application author*, not the *library author*, so there's still no conflict.

You already can add `"@standard/somethingNew": "github URL to alternative repo"`, for example, to package.json, so "control of the scope" doesn't block anyone from being installed under that name (except via the npm registry itself, of course).

Before thinking about the syntax, I think it's best to agree on some of the requirements/open questions that needs to be discussed first:

1. Can the runtime augment the standard library? Or is the standard library only developed/standardized at TC39? 
2. Will there be a "web" library as well, with web specific modules standardized at WHATWG?
3. Will there be a runtime specific ("chrome", "firefox" or "node") namespace?

I think that answering those questions would help clarify and decide one way or another.

@mcollina It's probably best to create separate issues for those questions (if they don't already exist).

These issues are already widely under discussion:
1. Many people are treating this capability as a requirement. See https://github.com/tc39/proposal-javascript-standard-library/issues/2
1. Yes, this is under discussion, see https://github.com/domenic/async-local-storage and https://github.com/valdrinkoshi/virtual-scroller
1. I haven't heard ideas about browser-specific features--i think everyone came away from the previous prefixed approach with the conclusion that it was a bad idea, and browsers should ship features unprefixed and headed towards an eventual standards track. But I imagine Node.js may continue to add its own built-in modules.

> Many people are treating this capability as a requirement. See #2

I think we are talking as something different here. As an example, who owns the standard namespace and the API definition in it? As an example, Node.js could add its own stream implementation under that namespace. WHATWG could recommend the browser vendors to do the same for WHATWG streams. Then we have a name clash.

I highly recommend to keep the namespace of the standard library to TC39, and enable WHATWG to have its own namespace that it governs. If every platform and runtime can change and extend that standard library, then it's not a standard library anymore.

Shipping features unprefixed is going to create a possible name clash situations. I think it would be best for the JS language to provide a way for runtimes/platform to avoid such name clash. Or we could disregard the name clash issue completely and push it to the community.

https://github.com/domenic/async-local-storage is 100% a web specific feature that makes sense only in browser-like environments. Should it go in the standard library? I don't think so. I think the standard library should focus on the language primitives and low-level data structures.

The standard library proposal should enable runtimes to maintain their own namespace, that they can use at will. Something like:

```
import { Instant } from std 'temporal';
// or
import { Instant } from '@std/temporal';
```

```
import { storage } from web "async-local-storage";
// or
import { storage } from "@web/async-local-storage";
```

Note that using the `@std/` and  `@web/` prefixes work the same.

> I haven't heard ideas about browser-specific features--i think everyone came away from the previous prefixed approach with the conclusion that it was a bad idea, and browsers should ship features unprefixed and headed towards an eventual standards track. But I imagine Node.js may continue to add its own built-in modules.

Who owns the namespace? If Browsers or Node.js start overriding part of it, we are fracturing the community and the ecosystem, and create friction where there should not be. I think runtimes should put their native modules under different namespaces.

Note that if you divide the namespace that way it'll be much harder for the next ArrayBuffer, streams, TextEncoder, or URL API to be used across host languages. Or perhaps it's considered acceptable that there's eventual duplication?

I really think @mcollina is on to something here.
Each standards body should have their own module namespace.

@annevk I think duplication is necessary in the case of streams. But in the case of URL, there is no need to duplicate, just import from whatwg.

Here's a few ways I can envision it:

```js
import { ArrayBuffer, TextEncoder } from 'std:tc39';
import { URL } from 'std:whatwg';
import { fs, util } from 'std:nodejs';
import { window } from 'std:web';
```

```js
import { ArrayBuffer, TextEncoder } from '@tc39/std';
import { URL } from '@whatwg/std';
import { fs, util } from '@nodejs/std';
import { window } from '@web/std';
```

```js
import ArrayBuffer from '@tc39/arraybuffer';
import URL from '@whatwg/url';
import fs from '@nodejs/fs';
import window from '@web/window';
```

I prefer `std` and `web` to the actual names of standards organizations. Userland developers should not need to know what `tc39` and `whatwg` refers to (and it might even change?).

On the web, I can state that we are not interested in separating by standards bodies or environments. Developers must not need to know whether setTimeout (or its future promise-based standard-library ilk) is defined by WHATWG, W3C, or TC39; they must just be able to get it from `"std:"` (or whatever shared prefix).

We have faith in the ability of the multiple standards bodies that contribute to the platform to coordinate, as they have done with the global namespace, to ensure a harmonious experience for everyone. We are not OK with shifting the burden onto web developers to know the difference between groups, in order to make our lives as standards developers slightly easier by allowing us to work in non-coordinated silos.

Whether Node.js wants to use the same policy as the web, or different, is of course up to them.

I think @domenic is right about this.  I'd expect to see Node.js perhaps namespace things that are node-specific, but use `std` for anything that's part of the standard.

@domenic That's fair. 

Let's narrow it down to the following:

```js
import { ArrayBuffer, TextEncoder, URL, window } from 'std:web';
import { fs, util } from 'std:nodejs';
```

```js
import { ArrayBuffer, TextEncoder, URL, window } from '@web/std';
import { fs, util } from '@nodejs/std';
```

```js
import ArrayBuffer from '@std/arraybuffer';
import URL from '@std/url';
import fs from '@nodejs/fs';
import { promisify } from '@nodejs/util';
```

The last option probably works best with Node.js.

I'm curious how the Web Platform plans to use this namespace? Will existing globals get moved under a namespace or is it only for new APIs going forward? (forgive me if this is the wrong place to ask, just point me to the correct place 😃)

We have a separate issue for the split vs unified namespace question: https://github.com/tc39/proposal-javascript-standard-library/issues/14

Thanks, I deleted my comments since I was off topic. I'll continue discussion on #14 👍 